/* Smaller tab */
:root {
  --tab-min-height: 28px !important;
}

.tab-label {
  margin-block: 0 !important;
}

.tab-close-button {
  width: 20px !important;
  height: 20px !important;
  padding: 4px !important;
}

/* Remove shadow on active tab */
#tabstoolbar #firefox-view-button[open] > .toolbarbutton-icon,
.tab-background:is([selected], [multiselected]) {
  box-shadow: none !important;
}

/* Wider tab mask */
.tabbrowser-tab {
  --tab-label-mask-size: 4em !important;
}

/* Tab audio icon */
.tabbrowser-tab:not([pinned])
  .tab-icon-stack:is([muted], [soundplaying], [activemedia-blocked]) {
  grid-template-areas: "a s";
}

.tabbrowser-tab:not([pinned])
  .tab-icon-overlay:is([muted], [soundplaying], [activemedia-blocked]) {
  grid-area: s;
}

.tab-icon-overlay,
.tab-icon-image,
.tab-throbber {
  opacity: 1 !important;
}

.tab-icon-overlay:not([pinned]) {
  margin-inline: -2px 2px !important;
}

.tab-icon-overlay {
  &:not([crashed]) {
    &:is([soundplaying], [muted], [activemedia-blocked]) {
      fill: var(--tab-selected-textcolor) !important;
      background-color: color-mix(
        in srgb,
        -moz-Dialog,
        transparent 50%
      ) !important;
      backdrop-filter: blur(0.25rem);
    }
  }
}

.tab-secondary-label {
  display: none !important;
}

.tab-icon-overlay {
  pointer-events: auto;
}

.tab-icon-overlay {
  border: none !important;
}

.tab-icon-overlay:not(:hover) {
  &:not([pinned]) {
    background-color: transparent !important;
  }
}

.tab-content > .tab-icon-stack,
.tab-icon-stack:hover > .tab-icon-image {
  visibility: visible;
}

/*  Disable gradient border  */
#appMenu-fxa-separator {
  border-image: none !important;
}

/*  Dialog background color  */
@media not (forced-colors) {
  :root[dialogroot] {
    --in-content-page-background: color-mix(
      in srgb,
      currentColor 5%,
      -moz-Dialog
    ) !important;
  }
}

/* Remove box shadow */
#appcontent {
  box-shadow: none !important;
  border-inline-start: none !important;
}

#tabbrowser-tabbox {
  box-shadow: none !important;
  outline: none !important;
}

/* Tab background color */
#tabbrowser-tabpanels {
  background: -moz-Dialog !important;
}
